@using TelegramBot.Service.DTOs.Products
@model  ProductForResultDto;

@{
    var photo = "/Images/" + (Model.Image ?? "logo.jpg");
}

<div class="product__row">
 
        <div class="card">
            <div class="img__box">
                <img src="@photo" alt="Product Image" />
            </div>
            <div class="content__box">
                <h3 class="product__title"> Model.Name</h3>
                <p class="product__description">
                    Model.Description
                </p>
                <div class="product__footer">
                    <p><span class="product__price">Price</span>Model.Price</p>
                    <p class="update__date">27.10.2023</p>
                </div>
            </div>
        </div>
</div>