@using TelegramBot.Service.DTOs.Products

@model ProductForResultDto;

@{
    ViewData["Title"] = "Details";
    var photo = "~/images/" + (Model.Image ?? "logo.jpg");
}

<div class="container detail">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h2>@Model.Name</h2>
            <hr />
            <p>@Model.LastUpdatedDate.ToString("MMM d, yyyy")</p>
            <img src="@photo" asp-append-version=true style="width:100%" />
            <p id="description">
                @Model.Description
            </p>
            <br />
           
        </div>
    </div>
</div>

<br />
<br />

<!--For taking break line after each point-->
<script>
    var descriptionElement = document.getElementById('description');
    var descriptionText = descriptionElement.innerHTML;
    descriptionElement.innerHTML = descriptionText.replace(/\./g, '.<br><br>');
</script>